@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
	--primary-dark: #222222;
	--secondary-green: #5ab25a;
}

html,
body {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	background-color: var(--primary-dark);
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff !important;
}

a:hover {
	color: var(--secondary-green) !important;
}

#main-menu {
	background-color: var(--primary-dark) !important;
	position: sticky !important;
	box-shadow: 0 4px 10px -2px gray;
	top: 0;
	z-index: 100;
}

.nav-item {
	position: relative;
}

.nav-item:after {
	bottom: 0;
	content: '';
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: var(--secondary-green);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.nav-item:hover:after {
	width: 100%;
	left: 0;
}

#header-content {
	overflow-x: hidden !important;
	min-height: 60vh;
}

.header-wrapper {
	min-height: 90vh;
}

.polygon-wrapper {
	position: relative;
}
#profile-photo {
	z-index: 10;
	bottom: 0px;
	left: 200px;
	height: 115%;
	width: auto;
	object-fit: contain;
}

.polygon {
	clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 10% 50%);
	background-color: var(--secondary-green);
	height: 100%;
	width: 100%;
	position: absolute;
}

.animation-container {
	height: 50px;
	overflow: hidden;
}

.animation-wrapper {
	overflow: hidden;
	animation: move ease 2s infinite alternate;
}

.animation-item {
	color: var(--secondary-green);
	font-weight: 500;
	font-size: 1.5rem;
	margin: 10px auto;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.checkbox:checked + .label .ball {
	transform: translateX(53px);
}

.label {
	background-color: #111;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	border-radius: 50px;
	height: 26px;
	width: 80px;
	position: relative;
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	margin-left: auto;
	color: #f39c12;
}

.ball {
	width: 24px;
	height: 24px;
	background-color: #fff;
	position: absolute;
	top: 1px;
	left: 2px;
	border-radius: 50%;
	transition: transform 0.2s linear;
}

body.light {
	background-color: #fff !important;
	color: #111 !important;
}

#main-menu.light {
	background-color: #fff !important;
	color: #111 !important;
}

#main-menu.light a {
	color: #111 !important;
}

#toggler {
	color: var(--secondary-green);
}

#mode-trigger {
	position: absolute;
	right: 10px;
	top: 20px;
}

/* ABOUT ME */

#about-me {
	background-color: #171717;
	height: 80vh;
}

#about-me.light {
	background-color: #fff !important;
	color: #111 !important;
}

#contact.light {
	background-color: #ccc !important;
	color: #111 !important;
}

.square {
	background-color: greenyellow;
	border-radius: 20px;
	box-shadow: -20px -20px rgba(128, 128, 128, 0.1);
}

#about-me-heading {
	position: relative;
}

#about-me-heading::before {
	display: block;
	position: absolute;
	content: '';
	height: 2px;
	width: 200px;
	background: green;
	bottom: -10px;
}

.list-technologies {
	display: flex;
	padding: 0;
	border-bottom: 1px solid red;
	padding-bottom: 10px;
}

.list-technologies li {
	list-style: none;
	margin-right: 10px;
}

/* PROJECTS */

#peojects {
	min-height: 70vh;
}

.screen {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 350px;
	position: relative;
	border: 2px solid #ccc;
	cursor: pointer;
}

.screen img {
	bottom: -765px;
	width: 100%;
	height: auto;
	position: absolute;
	margin: 0;
	padding: 0;
	-webkit-transition: top 5s;
	-moz-transition: top 5s;
	-ms-transition: top 5s;
	-o-transition: top 5s;
	transition: bottom 5s;
}

.screen:hover img {
	bottom: 0;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-ms-transition: all 5s;
	-o-transition: all 5s;
	transition: all 5s;
}

.address-bar {
	border-radius: 10px 10px 0 0;
	border: 2px solid #ccc;
	background-color: hsl(0, 0%, 80%);
}

.address-bar i {
	margin: 8px;
	color: var(--primary-dark);
}

/* CONTACT */

#contact {
	background-color: #171717;
}

#contact-form input {
	background-color: #333;
	border: none;
	box-shadow: none;
	border-radius: 0;
	color: #fff;
}
#contact-form input:focus {
	border: none;
	box-shadow: none;
}

#contact-form textarea {
	background-color: #333;
	border: none;
	box-shadow: none;
	border-radius: 0;
	color: #fff;
}
#contact-form textarea:focus {
	border: none;
	box-shadow: none;
}

.btn-custom {
	margin: 0 auto !important;
	background-color: transparent;
	color: #fff;
	font-size: 0.7rem;
	width: 200px;
	border: 1px solid #fff;
	transition: 0.5s ease;
}

.btn-custom:hover {
	background-color: rgba(197, 197, 197, 0.1);
	color: var(--secondary-green);
	border-color: var(--secondary-green);
	transition: 0.5s ease;
}

#contact-form button {
	margin: 0 auto;
}

#contact-form input::placeholder {
	color: #fff;
}
#contact-form textarea::placeholder {
	color: #fff;
}

::-ms-input-placeholder {
	color: #fff;
}

.icons-wrapper a {
	transition: 0.5s ease;
}
.icons-wrapper a:hover {
	font-size: 1.5rem;
	color: #fff !important;
	transition: 0.5s ease;
}

.contact-icons > i {
	color: var(--secondary-green) !important	;
}

/* KEYFRAMES */

@keyframes move {
	0% {
		transform: translateY(20px);
	}
	25% {
		transform: translateY(20px);
	}

	100% {
		transform: translateY(-30px);
	}
}

/* QUERIES */

@media (min-width: 1200px) and (max-width: 1399px) {
	#header-content {
		max-height: 60vh;
		/* overflow-y: hidden; */
	}

	.header-wrapper {
		min-height: 60vh;
	}

	.polygon-wrapper {
		/* height: 100%;
		overflow: visible; */
	}

	#profile-photo {
		left: 150px;
	}

	.polygon {
		height: 60vh;
	}

	.screen img {
		bottom: -484px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	body {
		font-size: 18px;
	}

	#header-content {
		max-height: 60vh;
		overflow-y: hidden;
	}

	.header-wrapper {
		min-height: 60vh;
	}
	#profile-photo {
		left: 150px;
	}

	.polygon-wrapper {
		/* height: 100%; */
	}

	.polygon {
		height: 60vh;
	}

	.screen img {
		bottom: -200px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: 18px;
	}

	#header-content {
		max-height: 60vh;
		overflow-y: hidden;
	}

	.header-wrapper {
		min-height: 60vh;
	}

	#profile-photo {
		left: 90px;
	}

	.polygon-wrapper {
		/* height: 100%; */
	}

	.polygon {
		height: 60vh;
	}

	.screen img {
		bottom: -550px;
	}
}
@media (max-width: 767px) {
	body {
		font-size: 18px;
	}

	#header-content {
		max-height: 60vh;
		overflow-y: hidden;
	}

	.header-wrapper {
		min-height: 60vh;
		width: 80%;
		margin: 0 auto;
	}

	.polygon-wrapper {
		height: 100%;
	}

	.polygon {
		height: 60vh;
	}

	#about-me-heading::before {
		left: 50%;
		transform: translateX(-50%);
	}
	#about-me {
		height: 50vh;
	}

	.screen img {
		bottom: -550px;
	}
}
